:root {
  /* Emphasized decelerate easing (out) */
  --hui-motion-easing-emphasized-decelerate-x0: 0.05000000074505806;
  --hui-motion-easing-emphasized-decelerate-y0: 0.699999988079071;
  --hui-motion-easing-emphasized-decelerate-x1: 0.10000000149011612;
  --hui-motion-easing-emphasized-decelerate-y1: 1;
  /* Emphasized accelerate easing (in) */
  --hui-motion-easing-emphasized-accelerate-x0: 0.30000001192092896;
  --hui-motion-easing-emphasized-accelerate-y0: 0;
  --hui-motion-easing-emphasized-accelerate-x1: 0.800000011920929;
  --hui-motion-easing-emphasized-accelerate-y1: 0.15000000596046448;
  /* Standard decelerate easing (out) */
  --hui-motion-easing-standard-decelerate-x0: 0;
  --hui-motion-easing-standard-decelerate-y0: 0;
  --hui-motion-easing-standard-decelerate-x1: 0;
  --hui-motion-easing-standard-decelerate-y1: 1;
  /* Standard accelerate easing (in) */
  --hui-motion-easing-standard-accelerate-x0: 0.30000001192092896;
  --hui-motion-easing-standard-accelerate-y0: 0;
  --hui-motion-easing-standard-accelerate-x1: 1;
  --hui-motion-easing-standard-accelerate-y1: 1;
  /* Duration 1000ms */
  --hui-motion-duration-1000: 1000ms;
  /* Duration 900ms */
  --hui-motion-duration-900: 900ms;
  /* Duration 800ms */
  --hui-motion-duration-800: 800ms;
  /* Duration 700ms */
  --hui-motion-duration-700: 700ms;
  /* Duration 600ms */
  --hui-motion-duration-600: 600ms;
  /* Duration 550ms */
  --hui-motion-duration-550: 550ms;
  /* Duration 500ms */
  --hui-motion-duration-500: 500ms;
  /* Duration 450ms */
  --hui-motion-duration-450: 450ms;
  /* Duration 400ms */
  --hui-motion-duration-400: 400ms;
  /* Duration 350ms */
  --hui-motion-duration-350: 350ms;
  /* Duration 300ms */
  --hui-motion-duration-300: 300ms;
  /* Duration 250ms */
  --hui-motion-duration-250: 250ms;
  /* Duration 200ms */
  --hui-motion-duration-200: 200ms;
  /* Duration 150ms */
  --hui-motion-duration-150: 150ms;
  /* Duration 100ms */
  --hui-motion-duration-100: 100ms;
  /* Duration 50ms */
  --hui-motion-duration-50: 50ms;
  /* Standard easing (in and out) */
  --hui-motion-easing-standard-x0: 0.20000000298023224;
  --hui-motion-easing-standard-y0: 0;
  --hui-motion-easing-standard-x1: 0;
  --hui-motion-easing-standard-y1: 1;
  /* Linear easing */
  --hui-motion-easing-linear-x0: 0;
  --hui-motion-easing-linear-y0: 0;
  --hui-motion-easing-linear-x1: 1;
  --hui-motion-easing-linear-y1: 1;
  /* Emphasized */
  --hui-motion-easing-emphasized-x0: 0.20000000298023224;
  --hui-motion-easing-emphasized-y0: 0;
  --hui-motion-easing-emphasized-x1: 0;
  --hui-motion-easing-emphasized-y1: 1;
  /* Motion path */
  --hui-motion-path-standard-path: 1;
  /* shorthand */
  --hui-motion-easing-emphasized: cubic-bezier(
    var(--hui-motion-easing-emphasized-x0),
    var(--hui-motion-easing-emphasized-y0),
    var(--hui-motion-easing-emphasized-x1),
    var(--hui-motion-easing-emphasized-y1)
  );
  --hui-motion-standard-easing: cubic-bezier(0.4, 0, 0.2, 1);
  --hui-motion-acceleration-easing: cubic-bezier(0.4, 0, 1, 1);
  --hui-motion-deceleration-easing: cubic-bezier(0, 0, 0.2, 1);
  --hui-motion-sharp-easing: cubic-bezier(0.4, 0, 0.6, 1);
}
